#sidebarMenu a,
#sidebarMenu a.active,
#sidebarMenu a.hover,
#sidebarMenu a.focus,
#sidebarMenu a.visited {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

#sidebarMenu a.active,
#sidebarMenu a.hover,
#sidebarMenu a.focus,
#sidebarMenu a.visited {
    background: var(--amplify-components-button-menu-active-background-color);
    color: white;
}

.amplify-loader--large {
    width: 200px;
    margin-top: 75px;
}

.alertsContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.alertsContainer .amplify-alert {
    margin-bottom: 5px;
}

.typeahead-input-has-results {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.typeahead-results {
    position: relative;
    top: -1px;
    flex-flow: column;
    gap: 0;
}
.typeahead-list-item {
    border-bottom-width: 0;
    border-radius: 0;
}
.typeahead-list-item:first-child {
}
.typeahead-list-item:last-child {
    border-bottom-width: 1px !important;
}

.imageUploaderCollection {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.imageUploaderCollection li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}