#sidebarMenu a,
#sidebarMenu a.active,
#sidebarMenu a.hover,
#sidebarMenu a.focus,
#sidebarMenu a.visited {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

#sidebarMenu a.active,
#sidebarMenu a.hover,
#sidebarMenu a.focus,
#sidebarMenu a.visited
{
  background: var(--amplify-components-button-menu-active-background-color);
  color: white;
}